* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

img {
    max-width: 20%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

p {
    color: #759594;
    padding-left: 3rem;
    font-size: larger;

}

a {
    padding-left: 4rem;
    text-decoration: none;
    color: #297c2d;
    font-weight: 600;
    font-size: x-large;
}

img,
p,
a {
    display: inline-block;
    padding-bottom: 3rem;
}

#quadro_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 200px;
}

#quadro_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 228px;
}

#caramelo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 245px;
}


/* .color1 {color: #000000;} = background
.color2 {color: #131a1c;} = background da div do form
.color3 {color: #435253;} background do form
.color4 {color: #759594;} letras maiores destacadas
.color5 {color: #aaccd5;} respostas no form */