* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

body,
html {
    height: 100%;
    background-color: black;
}

h1 {
    color: #759594;
    text-align: center;
}

p {
    color: #759594;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600
}

img {
 padding-left: 28rem;
}

a {
    text-decoration: none;
    color: #aaccd586;
    font-weight: 600;
}

#voltar {
    padding: 0.5rem;
    background-color: black;
    width: 15rem;
    text-align: center;
    border-radius: 0.5rem;
}
