* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body,
html {
    height: 100%;
    background-color: black;
    overflow: hidden;
}

header {
    background-color: rgba(19, 18, 18, 0.678);
    box-shadow: inset 5px 5px 30px 10px rgb(0, 0, 0);
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between
}

ul {
    list-style: none;
    display: flex;
    column-gap: 25px;
    margin-left: 3rem;
}

a {
    color: #4bcccc28;
    text-decoration: none;
    padding: 1.5rem;
    font-weight: 600;
}

input {
    background-color: royalblue;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-weight: 600;
}

img {
    margin: auto;
    height: 100%;
}

figure {
    height: 100%;
    width: max-content;
    display: flex;
}

#entrar {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #aaccd586;
    font-weight: 600;
}

#voltar {
    padding: 1rem;
    background-color: black;
    width: 15rem;
    text-align: center;
    border-radius: 0.5rem;
}