body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 12vh 29vh 29vh 29vh;
}

header {
    background-color: rgb(0, 0, 0);
    grid-column-start: 1;
    grid-column-end: 4;
}

main {
    box-shadow: inset 5px 5px 30px 10px rgb(0, 0, 0);
    background: black;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
}

.voltar {
    padding: 2rem;
    width: 15rem;
    text-align: center;
    border-radius: 0.5rem;
}

a {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #aaccd586;
}

.buy {
    color: rgb(7, 116, 212);
    font-weight: 800;
    padding-bottom: 8px;
    font-size: large;
}

p {
    color: rgba(255, 255, 255, 0.795);
    display: flex;
    align-items: center;
    margin: 50px;
}

#caramelo {
    max-width: 300px;
    max-height: 190px;
    display: flex;
}

#primeiro_quadro {
    padding-left: 10px;
}

div {
    display: flex;
    justify-content: center;
    padding-right: 24rem;
}

img {
    width: 250px;
    padding: 0.5rem;
}